header {
  width: 100%;
  border-bottom: 2px solid grey;
  -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.5);
  padding-left: 50px;
  margin-bottom: 30px;
}
.list {
  display: flex;
  gap: 14px;
  list-style: none;
  font-size: 20px;
  margin-left: -40px;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 10px;
}
.active {
  display: block;
  padding: 10px;
  border-radius: 5px;
  color: rgb(0, 0, 159);
}
